*{
    margin: 0%;
    padding: 0%;
}

/* -- Header -- */
.h_header{
    background-color: rgb(49,49,48);
    padding: 20px;
}
.h_nav-container{
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-evenly;
    align-items: center;
}
.h_menu-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h_search-login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* -- h_unbounce-icon-left -- */
.h_unbounce-icon-left img{
    margin-left: 90px;
}

/* -- dropdown menu css start -- */


      .h_dropbtn {
        background-color: rgb(49,49,48);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      

      
      .h_dropdown {
        position: relative;
        display: inline-block;
      }
      
      .h_dropdown-content {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -250px;
        width: 80%;
        height: 200px;
      }
    
    
      .h_dropdown-content a:hover {background-color: rgb(255, 255, 255);}
      
      .h_dropdown:hover .h_dropdown-content {display: block;}

      .h_dropdown #h_arrow{
        transition: 0.4s;
        color: white;
        font-weight: bolder;
        font-size: 20px;

      }
      .h_dropdown:hover #h_arrow{
        transform: rotate(180deg);
      }
      
      .h_dropdown:hover .h_dropbtn {background-color: rgb(84, 84, 84);}


      .h_main-dropdown-content{
        display: flex;
        width: fit-content;
        background-color: white;
        box-shadow: rgba(27, 99, 171, 0.2) 0px 8px 24px;
      }

      .h_mdc-col1{
        display: flex;
        flex-direction: column;
        padding: 30px;
        width: 400px;
        
      }
      #h_mdc-col1{
        border-right: 2px solid rgb(173, 170, 170);
      }

      #h_line{
        display: flex;
        justify-items: center;
        margin-bottom: 25px;
        cursor: pointer;
      }
      #h_line svg{
        width: 30px;
        margin-bottom: -5px;
        height: 30px;
        padding-right: 20px;
        color: rgb(82, 82, 81);
      }
      #h_line h3{
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(71, 71, 70);
      }
      .h_line_learn{
        margin-top: 10px;
      }

      #h_highlight{
        font-size: 13px;
        background-color: rgb(19, 235, 160);
        padding: 1px 3px 1px 3px;
      }
      #h_highlight_beta{
        font-size: 13px;
        background-color: rgb(255, 226, 5);
        padding: 1px 3px 1px 3px;      }

      .h_mdc-col1-pt1 h3{
        font-size: 21px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .h_mdc-col1-pt1 p{
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgb(180, 178, 178);
      }

      .h_learnmore a{
        color: rgb(66, 65, 65);
      }

      .h_dropdown button{
        font-size: larger;
      }
/* -- dropdown menu css end -- */


/* Search bar css */

.h_search-container *,
.h_search-container *:after,
.h_search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* search bar focus */
.h_search-container *:focus {
  background: rgb(66, 65, 65);
  color: #fffbfb;
  outline: 0;
}

/* search bar container */
.h_search-container {
  display: table;
  position: relative;
  width: 51px;
}

/* search icon button */
.h_search-icon-btn {
  background-color: rgb(82, 82, 82);
  border-radius: 20px;
  display: table-cell;
  height: 43px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 42px;
  z-index: 2;
}

/* search bar input container */
.h_search-input {
  position: absolute;
  right: 1px;
margin: 2px 10px 0px 1px;
  z-index: 1;
}

/* search bar input */
.h_search-input input.h_search-bar {
  height: 39px;
  border: 1px solid #696868;
  padding: 0px;
  width: 39px;
  background-color: rgb(66, 65, 65);
  border-radius: 15px;

}
.h_search-input input.h_search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 150px;
}

/* transition effect */
.h_search-input input.h_search-bar,
.h_search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.h_search-container:hover > .h_search-input input.h_search-bar {
  padding-right: 60px;
  padding-left: 10px;
  width: 150px;
}

:-moz-placeholder{
    color: white;
}

/* Login section */
#h_loginbtn{
    padding: 12px 20px 12px 20px;
    color: white;
    background-color: rgb(66, 65, 65);
    font-weight: bolder;
    border: 2px solid white;
    transition: 0.3s;
}
#h_loginbtn:hover{
    background-color: #696868;
    border: 2px solid #696868;
}

/* Free trial part */
.h_free-trial-btn button{
    padding: 12px 20px 12px 20px;
    color: rgb(66, 65, 65);
    background-color: white;
    font-weight: bolder;
    border: 2px solid white;
    transition: 0.3s;
}

.h_free-trial-btn button:hover{
    background-color: #696868;
    border: 2px solid #696868;
    color: white;
}




























@media (min-width: 1024px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    
    /* -- Header -- */
    .h_header{
        background-color: rgb(49,49,48);
        padding: 2%;
        padding-left: 0%;
    }
    .h_nav-container{
        display: grid;
        grid-template-columns: 65% 25%;
        justify-content: space-evenly;
        align-items: center;
    }
    .h_menu-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .h_search-login{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .h_menu-listings{
        width: fit-content;
    }
    /* -- h_unbounce-icon-left -- */
    .h_unbounce-icon-left img{
        width: 130px;
        margin-left: 7%;
    }
    
    /* -- dropdown menu css start -- */
    
    
          .h_dropbtn {
            background-color: rgb(49,49,48);
            color: white;
            padding: 10px;
            font-size: 12%;
            border: none;
          }
          
    
          
          .h_dropdown {
            position: relative;
            display: inline-block;
          }
          
          .h_dropdown-content {
            display: none;
            position: absolute;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-left: -350px;
          }
        
        
          .h_dropdown-content a:hover {background-color: rgb(255, 255, 255);}
          
          .h_dropdown:hover .h_dropdown-content {
            display: block;
        }
    
          .h_dropdown #h_arrow{
            transition: 0.4s;
            color: white;
            font-weight: bolder;
            font-size: 20px;
    
          }
          .h_dropdown:hover #h_arrow{
            transform: rotate(180deg);
          }
          
          .h_dropdown:hover .h_dropbtn {background-color: rgb(84, 84, 84);}
    
    
          .h_main-dropdown-content{
            display: flex;
            width: fit-content;
            background-color: white;
            box-shadow: rgba(27, 99, 171, 0.2) 0px 8px 24px;
          }
    
          .h_mdc-col1{
            display: flex;
            flex-direction: column;
            padding: 30px;
            width: 400px;
            
          }
          #h_mdc-col1{
            border-right: 2px solid rgb(173, 170, 170);
          }
    
          #h_line{
            display: flex;
            justify-items: center;
            margin-bottom: 25px;
            cursor: pointer;
          }
          #h_line svg{
            width: 30px;
            margin-bottom: -5px;
            height: 30px;
            padding-right: 20px;
            color: rgb(82, 82, 81);
          }
          #h_line h3{
            font-size: 20px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(71, 71, 70);
          }
          .h_line_learn{
            margin-top: 10px;
          }
    
          #h_highlight{
            font-size: 13px;
            background-color: rgb(19, 235, 160);
            padding: 1px 3px 1px 3px;
          }
          #h_highlight_beta{
            font-size: 13px;
            background-color: rgb(255, 226, 5);
            padding: 1px 3px 1px 3px;      }
    
          .h_mdc-col1-pt1 h3{
            font-size: 21px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
    
          .h_mdc-col1-pt1 p{
            font-size: 15px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(180, 178, 178);
          }
    
          .h_learnmore a{
            color: rgb(66, 65, 65);
          }
    
          .h_dropdown button{
            font-size: 92%;
          }
    /* -- dropdown menu css end -- */
    
    
    /* Search bar css */
    
    .h_search-container *,
    .h_search-container *:after,
    .h_search-container *:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    /* search bar focus */
    .h_search-container *:focus {
      background: rgb(66, 65, 65);
      color: #fffbfb;
      outline: 0;
    }
    
    /* search bar container */
    .h_search-container {
      display: table;
      position: relative;
      width: 41px;
    }
    
    /* search icon button */
    .h_search-icon-btn {
      background-color: rgb(82, 82, 82);
      border-radius: 20px;
      display: table-cell;
      height: 43px;
      position: relative;
      text-align: center;
      vertical-align: middle;
      width: 42px;
      padding-left: 18px;
      padding-right: 15px;
      z-index: 2;
    }
    
    /* search bar input container */
    .h_search-input {
      position: absolute;
      right: 0px;
    margin: 2px 10px 0px 1px;
      z-index: 1;
    }
    
    /* search bar input */
    .h_search-input input.h_search-bar {
      height: 39px;
      border: 1px solid #696868;
      padding: 0px;
      width: 39px;
      background-color: rgb(66, 65, 65);
      border-radius: 15px;
    
    }
    .h_search-input input.h_search-bar:focus {
      padding-left: 60px;
      padding-right: 10px;
      width: 150px;
    }
    
    /* transition effect */
    .h_search-input input.h_search-bar,
    .h_search-icon-btn {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    
    /* hover on search bar container */
    .h_search-container:hover > .h_search-input input.h_search-bar {
      padding-right: 60px;
      padding-left: 10px;
      width: 150px;
    }
    
    :-moz-placeholder{
        color: white;
    }
    
    /* Login section */
    #h_loginbtn{
        width: fit-content;
        padding: 8px 15px 8px 15px;
        color: white;
        background-color: rgb(66, 65, 65);
        font-weight: bolder;
        border: 2px solid white;
        transition: 0.3s;
        margin-left: 10px;
    }
    #h_loginbtn:hover{
        background-color: #696868;
        border: 2px solid #696868;
    }
    
    /* Free trial part */
    .h_free-trial-btn button{
        padding: 8px 15px 8px 15px;
        color: rgb(66, 65, 65);
        background-color: white;
        font-weight: bolder;
        border: 2px solid white;
        transition: 0.3s;
        margin-left: 10px;
    }
    
    .h_free-trial-btn button:hover{
        background-color: #696868;
        border: 2px solid #696868;
        color: white;
    }
}












@media (min-width: 992px) {

}




/* Head banner section */

.h_head_banner{
    background-color: rgb(49,49,48);
    background-size: contain;
    background-position: 85% center;
    background-image: url(https://unbounce.com/photos/New-banner_2x_cropped_top.png);
    background-repeat: no-repeat;
    background-size:110%;
}
.h_heading-content1 p{
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}


  .h_head_banner{
    background-image: url(https://unbounce.com/photos/New-banner_2x_cropped_top.png);
    background-color:rgb(49,49,48);
    background-size: contain;
    background-position: 80% center;
    background-repeat: no-repeat;
    margin: 0%;
    height: 650px;
    padding-top: 5%;
  }
  .h_banner-container{
    padding-top:0.1%;
    padding-left: 7%;
    /* background-color: aquamarine; */
    height: 53%;
  }
  .h_heading-content1{
    width: 500px;
    margin-bottom: 5%;
  }
  .h_heading-content1 p{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  width: 500px;
  font-size: 60px;
}

.h_heading-content2{
font-family: 'Roboto Condensed', sans-serif;
color: white;
width: 500px;
line-height: 25px;
font-size: 18px;
word-spacing: 3px;
letter-spacing: 0.5px;
padding-bottom: 2%;
}
.h_heading-content3{
display: flex;
width: 500px;
justify-content: flex-start;
margin-top: 3%;
}
#h_heading-btn1, #h_heading-btn2{
background:none;
padding:3% 3% 3% 3%;
width: 44%;
margin-right: 2%;
}
#h_heading-btn1{
border: 3px solid rgb(255, 150, 167);
color: rgb(255, 150, 167);
font-size: larger;
}
#h_heading-btn1:hover{
border: 3px solid rgb(255, 150, 167);
background-color: rgb(255, 150, 167);
color: rgb(49,49,48);
font-weight: 600;
font-size: larger;
}
#h_heading-btn2{
border: 3px solid rgb(239, 220, 1);
color: rgb(239, 220, 1);
font-size: larger;
font-weight: 400;
}
#h_heading-btn2:hover{
border: 3px solid rgb(239, 220, 1);
color: rgb(49,49,48);
font-size: larger;
font-weight: 600;
background-color: rgb(239, 220, 1);
}

@media (max-width: 780px){
.h_head_banner{
  width: max-content;
}
.h_banner-container{
  display: grid;
  grid-template-rows: auto auto auto;
  width: 90%;
}
.h_heading-content1{
  margin-bottom: 69%;
}
.h_head_banner{
  height: 900px;
}
.h_head_banner{
  padding-bottom: 20%;
}
}



.h_body-section2{
    display: flex;
    flex-direction: column;
  }
  
  .h_body-section2-part1{
    display: flex;
    flex-direction: column;
  }
  .h_body-section2-part1 *{
    text-align: center;
  }
  .h_body-section2-part1-head h1{
    align-items: center;
    justify-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
  }
  .h_body-section2-part1-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h_body-section2-part1-body p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 60%;
  }
  
  .h_body-section2-part2{
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0% 11% 0% 14%;
  }
  #sym{
    color: blue;
    font-size: xxx-large;
  }
  .h_body-section2-part1-c1{
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }




  /* -- Video css -- */
  .h_body-section3{
    display: flex;
    justify-content: center;
    padding: 3% 5% 5% 5%;
  }



  /* section 4 */
  .h_body-section4{
    display: flex;
    flex-direction: column;
  }
  
  .h_body-section4-part1{
    display: flex;
    flex-direction: column;
  }
  .h_body-section4-part1 *{
    text-align: center;
  }
  .h_body-section4-part1-head h1{
    align-items: center;
    justify-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
  }
  .h_body-section4-part1-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h_body-section4-part1-body p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 60%;
  }
  
  .h_body-section4-part2{
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0% 11% 0% 10%;
  }
  #sym{
    width: 100%;
  }
  .h_body-section4-part1-c1{
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3%;
  }



  /* Animated button */
  .h_animated-button {
        margin: 10px auto auto 0px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        font-style: normal;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      }

      .h_animated-button .h_buttons {
        position: relative;
        display: inline-block;
        padding: 15px 25px 15px 0px;
        text-decoration: none;
        color: rgb(48, 48, 48);
        background-color: white;
        transition: 0.1s;
      }

      .h_animated-button .h_buttons:hover {
        color: #0033ff;
      }

      .h_animated-button .h_buttons span {
        display: block;
        position: absolute;
        background: #0033ff;
      }

      .h_animated-button .h_buttons span:nth-child(1) {
        left: 0;
        bottom: 52%;
        width: 4px;
        height: 48%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 100ms;
      }

      .h_animated-button .h_buttons:hover span:nth-child(1) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 100ms;
        transition-delay: 0.0s;
      }

      .h_animated-button .h_buttons:not() span:nth-child(1) {
        transform: scaleY(1);
        transform-origin: top;
      }

      .h_animated-button .h_buttons:not(:hover) span:nth-child(1) {
        transform: scaleY(0);
        transform-origin: bottom;
        transition-delay: 0.4s;
      }

      .h_animated-button .h_buttons span:nth-child(2) {
        left: 0;
        bottom: 0;
        width: 4px;
        height: 40%;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 100ms;
      }

      .h_animated-button .h_buttons:hover span:nth-child(2) {
        transform: scaleY(1);
        transform-origin: bottom;
        transition: transform 100ms;
        transition-delay: 0.4s;
      }

      .h_animated-button .h_buttons:not() span:nth-child(2) {
        transform: scaleY(1);
        transform-origin: top;
      }

      .h_animated-button .h_buttons:not(:hover) span:nth-child(2) {
        transform: scaleY(0);
        transform-origin: bottom;
        transition-delay: 0.0s;
      }

      .h_animated-button .h_buttons span:nth-child(3) {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 100ms;
      }

      .h_animated-button .h_buttons:hover span:nth-child(3) {
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 100ms;
        transition-delay: 0.3s;
      }

      .h_animated-button .h_buttons:not() span:nth-child(3) {
        transform: scaleX(1);
        transform-origin: left;
      }

      .h_animated-button .h_buttons:not(:hover) span:nth-child(3) {
        transform: scaleX(0);
        transform-origin: right;
        transition-delay: 0.1s;
      }

      .h_animated-button .h_buttons span:nth-child(4) {
        right: 0;
        top: 0;
        width: 4px;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform 100ms;
      }

      .h_animated-button .h_buttons:hover span:nth-child(4) {
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 100ms;
        transition-delay: 0.2s;
      }

      .h_animated-button .h_buttons:not() span:nth-child(4) {
        transform: scaleY(1);
        transform-origin: bottom;
      }

      .h_animated-button .h_buttons:not(:hover) span:nth-child(4) {
        transform: scaleY(0);
        transform-origin: top;
        transition-delay: 0.2s;
      }

      .h_animated-button .h_buttons span:nth-child(5) {
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 100ms;
      }

      .h_animated-button .h_buttons:hover span:nth-child(5) {
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 100ms;
        transition-delay: 0.1s;
      }

      .h_animated-button .h_buttons:not() span:nth-child(5) {
        transform: scaleX(1);
        transform-origin: right;
      }

      .h_animated-button .h_buttons:not(:hover) span:nth-child(5) {
        transform: scaleX(0);
        transform-origin: left;
        transition-delay: 0.3s;
      }




      /* Section 5 */

      .h_body_section5-container{
        background-color: rgb(240, 241, 230);
        padding: 5% 5% 5% 13%;
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: 10% 90%;
      }
      .h_body_section5-container p,span{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      .h_body_section5-container-p2{
        width: 80%;
        margin-left: 1%;
      }
      .h_body_section5-container-p1 img{
        width: 150px;
      }

      .h_body_section5-container-p2 #p1{
        font-size: 25px;
        font-weight: 100;
      }
      .h_body_section5-container-p2 #p2{
        font-size: 17px;
      }

      .h_body_section5-container-p2 img{
        width: 26%;
      }


      @media (max-width: 780px){
        .h_body_section5-container{
            background-color: rgb(240, 241, 230);
            padding: 5% 5% 5% 13%;
            display: grid;
            width: 100%;
            grid-template-columns:90%;
          }
        .h_body_section5-container-p2{
            width: 80%;
            margin-left: 1%;
          }
          .h_body_section5-container-p1 img{
            width: 150px;
          }
    
          .h_body_section5-container-p2 #p1{
            font-size: 25px;
            font-weight: 100;
          }
          .h_body_section5-container-p2 #p2{
            font-size: 17px;
          }
    
          .h_body_section5-container-p2 img{
            width: 46%;
          }
      }


      /*   section 6   */

      .h_body-section6-flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .h_body-section6-flex-container-head h1{
        font-family: 'Barlow', sans-serif;
        font-weight: bolder;
  
        font-size: 45px;
      }
      .h_body-section6-flex-container-p p{
        font-family: 'Roboto Condensed', sans-serif;
        
        width: 53%;
        color: rgb(168, 168, 168);
        text-align: center;
        margin: auto;
        padding-bottom: 1%;
      }

      @media (max-width: 780px){
        .h_body-section6-flex-container-head h1{
            width: 80%;
            font-size: x-large;
            text-align: center;
            margin: auto;
        }
      }



      /* ection 7 */
      .h_body-section7-gridcontainer{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 0px;
        padding: 5% 10% 5% 10%;
      }
  
      #h_g1{
        display: grid;
        grid-template-columns: 20% 80%;
      }
  
      .h_gc-p2-content1 svg{
        font-weight: lighter;
        font-size: 59px;
        margin-top: -14px;
        color: blue;
      }
  
      .h_gc-p2-content2 #p1{
        font-family: 'Barlow', sans-serif;
        font-size: 25px;
        font-weight: 900;
      }
      .h_gc-p2-content2 #p2{
        font-family: 'Barlow', sans-serif;
        letter-spacing: px;
        line-height: 27px;
        color: grey;
        word-spacing: 1px;
        font-weight: 900;
      }
  
      .h_gc-p2-content2 #p3{
        font-family: 'Barlow', sans-serif;
        background-color: white;
        border: none;
        font-weight: bolder;
        transition: 0.1s;
      }
      .h_gc-p2-content2 #p3 h3{
        font-family: 'Barlow', sans-serif;
        font-weight: bolder;
        vertical-align:middle;
        display: flex;
        font-size: 20px;
      }
      .h_gc-p2-content2 #p3 h3 svg{
        font-size: 27px;
        padding-right: 6px;
    
      }
      .h_gc-p2-content2 #p3:hover{
        color: blue;
      }
  
  
      .h_body-section7-gridcontainer-p2{
        display: flex;
        flex-direction: column;
      }

      .h_gc-p2-content{
        margin-top: 15%;
      }


      @media (max-width: 780px){
        .h_body-section7-gridcontainer{
            display: flex;
            flex-direction: column;
          }
      }

      /* section 8 */
      .h_body-section8-gridcontainer{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-column-gap: 0px;
        padding: 5% 10% 5% 10%;
      }
      .h_body-section8-gridcontainer-p1 img{
        width: 100%;
      }
  
      #h_g81{
        display: grid;
        grid-template-columns: 20% 80%;
      }
  
      .h_gc8-p2-content1 svg{
        font-weight: lighter;
        font-size: 50px;
        padding-top: 5px;
        color: rgb(136, 136, 254);
      }
  
      .h_gc8-p2-content2 #p1{
        font-family: 'Barlow', sans-serif;
        font-size: 25px;
        font-weight: 900;
      }
      .h_gc8-p2-content2 #p2{
        font-family: 'Barlow', sans-serif;
        letter-spacing: px;
        line-height: 27px;
        color: grey;
        word-spacing: 1px;
        font-weight: 900;
      }
  
      .h_gc8-p2-content2 #p3{
        font-family: 'Barlow', sans-serif;
        background-color: white;
        border: none;
        font-weight: bolder;
        transition: 0.1s;
      }
      .h_gc8-p2-content2 #p3 h3{
        font-family: 'Barlow', sans-serif;
        font-weight: bolder;
        vertical-align:middle;
        display: flex;
        
      }
      .h_gc8-p2-content2 #p3 h3 svg{
        font-size: 22px;
        padding-right: 6px;
        
      }
      .h_gc8-p2-content2 #p3:hover{
        color: blue;
      }
  
  
      .h_body-section8-gridcontainer-p2{
        display: flex;
        margin-top: 17%;
        flex-direction: column;
      }
  
      @media(max-width:780px){
        .h_body-section8-gridcontainer{
        display: flex;
        flex-direction: column;
        padding: 5% 10% 5% 10%;
      }
      .h_gc8-p2-content1 svg{
        font-weight: lighter;
        font-size: 40px;
        padding-top: 13px;
        color: rgb(136, 136, 254);
      }
      }




      /* Section 9 */
      .h_body-section9-fc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .h_body-section9-fc-hi svg{
        color: rgb(70, 70, 253);
        font-size: 80px;
      }
      .h_body-container9-fc-he p{
        font-family: 'Barlow', sans-serif;
        color: black;
        font-size: 45px;
        font-weight: 900;
      }
  
      .h_body-container9-fc-hep p{
        font-family: 'Barlow', sans-serif;
        color: black;
        font-size: 17px;
        text-align: center;
        margin: auto;
        width: 55%;
        font-weight: 900;
        color: grey;
      }
      .h_body-container9-fc-fc{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 20px;
        padding: 2%;
      }
  
      .h_body-container9-fc-b{
        width: 60%;
      }
  
      .h_body-container9-fc-fc button{
        padding: 8% 0% 8% 0%;
        font-size: 17px;
        font-weight: 550;
        width: 100%;
        border: 2px solid black;
        background-color: white;
      }
  
      .h_body-container9-fc-fc button:hover{
        padding: 8% 0% 8% 0%;
        font-size: 17px;
        font-weight: 600;
        border: 2px solid black;
        color: white;
        background-color: rgb(60, 59, 59);
      }
  
      @media(max-width:780px){
        .h_body-container9-fc-fc{
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        padding: 2%;
      }
      .h_body-container9-fc-fc button{
        padding: 5% 0% 5% 0%;
        font-size: 15px;
        font-weight: 550;
        width: 90%;
        border: 2px solid black;
        background-color: white;
      }
      .h_body-container9-fc-he p{
        font-family: 'Barlow', sans-serif;
        color: black;
        font-size: 35px;
        font-weight: 900;
      }
      }

    /* section 10 */

    .h_body-section10-gc{
        display: grid;
        padding: 0% 22% 0% 25%;
        grid-template-columns: auto auto;
        grid-column-gap: 15%;
        background-color: blue;
        padding-top: 3%;
        padding-bottom: 3%;
        justify-content: center;
      }
      .h_body-section10-gc-p1-fc{
        display: flex;
        flex-direction: column;
        color: white;
      }
  
      .h_body-section10-gc-p1-fc span{
        height: 5px;
        width: 14%;
        background-color: rgb(255, 204, 0);
        margin-top: 2%;
      }
  
      .h_body-section10-gc-p1-fc h3{
        font-size: 210%;
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
      }
  
      .h_body-section10-gc-p1-fc p{
        margin-top: -5%;
        margin-bottom: 10%;
        font-size: 90%;
        word-spacing: 1px;
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
      }
  
      .h_body-section10-gc-p1-fc button{
        width: 64%;
        padding: 5% 5% 5% 5%;
        border: 2px solid white;
        background-color: blue;
        color: white;
        font-size: 17px;
        transition: 0.1s;
      }
      .h_body-section10-gc-p1-fc button:hover{
        border: 2px solid white;
        background-color: white;
        color: blue;
        font-weight: 600;
      }
  
  
      @media(max-width:780px){
        .h_body-section10-gc{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 5%;
        background-color: blue;
        padding-bottom: 16%;
        padding-right: 7%;
        padding-left: 7%;
        width: 100%;
      }
      }