
.p_container{
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255,255,255);
}


#p_row_gutter{
    display: flex;
    width :100%;
    align-items: center;
}

#p_image{
    width: 100%;
}

#p_image>img{
    width: 100%;
    height: 100.1%;
    
}
 #p_heading{ 
    color: black;
    font-size: 2em;
    font-family: 'Barlow Semi Condensed', 
    sans-serif;
    padding: 20px;

} 
#p_heading_flex{
    display: flex;
}


#p_head{
    width: 100%;

}
#p_head>div{
    width: 70%;
    align-items: center;
    margin: auto;
}
#p_para{

    color: black;
    font-family: 'Barlow Semi Condensed', 
    sans-serif;
    padding: 30px;
    font-size: 18px;
    font-weight: 100;
}

button{
    text-align: center;
}
#p_btn1{
    margin-top: -20px;
    color: white;
    border-radius: 2px;
    background-color: blue;
    padding: 20px;
    font-size: xx-large;
    font-family: barlow semi condensed,sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    border: 0ch;
}

#p_btn1:hover{
    background-color: #03f;
}



h2{
    line-height: 86px;
    font-family: barlow semi condensed,sans-serif;
    font-weight: 400;
}
#p_c_container{
    display: flex;
    width:80%;
    margin: auto;
    
}
.p_c_container>img{
    height: 100%;
    width: 100%;
   
}


#p_c_content{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
.c_img_cont>img{
    width: 80%;
    margin-right: -20px;
    
}


#c_p_container2{
    width: 80%;
    margin: auto;
    gap: 20px;
    display: flex;
}

#c_p_innerbox1{
    width: 20%;
    height: 500px;
}
#c_p_innerbox1>img{
    width: 100%;
}
#c_p_innerbox2{
    width: 70%;
}
#c_p_innerbox2>img{
    width: 100%;
}

#c_p_mobilepage{

    width: 50%;
    margin: auto;
}

#c_p_design{
    width: 50px;
    background-color: rgb(255,161,161);
    height: 10px;
    margin: auto;
}

h1{
    text-align: center;
    font-family: 'Barlow Semi Condensed', 
    sans-serif;
    color: black;
}

p{

    text-align: center;
    font-family: 'Barlow Semi Condensed', 
    sans-serif;
    color: black;

}
#c_p_btn11{
    align-items: center;
    justify-content: center;
    
}
#c_p_btnlearn{

    
    color: white;
    border-radius: 2px;
    background-color: blue;
    padding: 20px;
    font-size: x-large;
    font-family: barlow semi condensed,sans-serif;
    font-weight: 400;
    border: 0ch;
    align-items: center;
    margin-left: 40%;
}

    #c_p_templet{
        display: flex;
        width: 80%;
        margin: auto;
        gap: 20px;

    }

    #c_p_templet_photo{
        width: 70%;
    }
    #c_p_templet_photo>img{
        width: 100%;
    }

    #c_p_templet_col{
        margin-top: 100px;
        width: 40%;
    }

    #c_p_browsertem>a{
        font-size: xx-large;
        margin-left: 20px;
    

    }

    #c_p_heading{
        width: 70%;
        margin: auto;
    
        
    }

    #c_p_heading>h1{
        font-size: 5em;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        padding: 20px;
        font-weight: 100;

    }
    #c_p_para>p{
        width: 80%;
        margin: auto;
        font-size: 1.5em;
        color: #626262;
    }

    #c_p_humanresources{
        width: 100%;
        margin: auto;
        display: flex;
    }
    #c_p_humanimage{
        width: 100%;
        
    }
    #c_p_humanimage>img{
        width: 100%;
        height: 80%;

    }

    
    #c_p_humancontent>img{
        width: 100%;
        height:90%
    }

    #c_p_humancontent>a{
        font-size: x-large;
        background-color: rgb(252,252,252);
    }

    .c_p_container22{
        display: flex;
        width: 100%;
        
    }
    #p_underspace{
        width: 100px;
        height: 1px;
        background-color: black;
        margin-top: 72px;
    }


    #c_p_optimizepage{
        margin-top: -156px;
        font-size: 1em;
    }
    #p_mid_content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #p_mid_content{
        justify-content: center;
        width: 70%;
        margin: auto;
    }
    #p_h2tag>h2{
        text-align: center;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        color: black;
        font-size: 5em;
    }
    #p_para2>p {
        text-align: center;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        color:#626262;
        font-size: 1.7em;
        font-weight: lighter;
    }
    
    #p_peter{
        width: 100%;
    }
    #p_seedetail{
        text-align: center;
        margin-bottom: 20px;
    }
    
    #p_seedetail:hover{
        color: red;
        cursor: pointer;
    
    }
    
    
    .p_container1{
        display: flex;
        width: 90%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-color: rgb(255,255,255);
    }


    #c_p_firstclick{
        
        width: 80%;
        margin: auto;
    }

    #c_p_firstclick_div1{
        width: 80%;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        color: black;
        font-size: 4em;
        margin: auto;
        text-align: center;

    }
    #c_p_firstclick_div2{

        width: 60%;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        color: #626262;
        font-size: 1em;
        margin: auto;
        padding: 15px;
        
        text-align: center;

    }
    #c_p_image_content{
        display: flex;
        width: 80%;
        margin: auto;
    
        
    }
    #c_p_image{
        margin-top: 100px;

    }

   
    .c_p_content_box1>img{
        width: 100%;
        height: 230px;
    }
    #c_p_indochino{
        display: flex;
        width : 80%;
        margin: auto;
        gap: 30px;
    }

    #c_p_indochino_image{
        width : 50%;
        
    }
    #c_p_indochino_image>img{
        width: 100%
    }
    #c_p_indochino_content{
        width: 50%
    }
    #c_p_indochino_content>h2{

        padding: 10px;
        font-size: 2em;

    }

    #c_p_indochino_content>h5{
        font-size: 1em;
        font-weight: bolder;

    }

    #c_p_container_brands{
        background-color: rgb(48,48,48);
        width: 100%;
    }

    #c_p_brand3{
        display: flex;
        gap: 20px;
    }
    
    #c_p_brand1
    {
        width: 70%;
        margin: auto;
    }
    #c_p_brand2{
        width: 70%;
        margin: auto;
  }
    #c_p_brand1>h1{
    
        color: #fff;
        padding: 20px;
        font-size: 4.5em;
        text-align: center;
    }

    #c_p_brand1>p{
        color: #fff;
        padding: 20px;
        width: 60%;
        margin: auto;
        margin-top: -20px;

    }
    #c_p_brand2>img{
        width: 70%;
        margin-left: 200px;
       
        
    }

    .p_container_blue{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        background-color: blue;
        align-items: center;
    }

    #p_insidedass{
        background-color: rgb(255,161,161);
        height: 5px;
        width: 50px;
        margin-top: 50px;
    }
    #p_inside>h2{
        color: #fff;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        font-size: xx-large;
        margin-top: -2%;
    }
    #p_inside_para{
        color: #fff;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        margin-top: -2%;
    }
    #btn_start{
        padding: 25px;
        background-color: #fff;
        color: #03f;
        border-width: 2.5px;
        border-color: #fff;
        font-size: x-large;
    
    }
    #btn_start:hover{
        background-color: transparent;
        color: white;
        border: 1px solid #fff;
    }

    .p_inside_para>p{
        color: #fff;
        font-family: 'Barlow Semi Condensed', 
        sans-serif;
        margin-top: -2%;
    }

  