* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
}

/*-------------------- se_main1 Part ------------------ */

#se_main1 {
  display: flex;
  border: 1px solid transparent;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 0px;
}

#se_main1 > #se_main1_div1 {
  border: 1px solid transparent;
  width: 50%;
  height: 800px;
  box-sizing: border-box;
  padding: 40px;
}

#se_main1 > #se_main1_div1 > h1 {
  line-height: 82px;
  font-size: 63px;
  font-weight: 400;
  color: #303030;
  font-style: normal;
}

#se_main1 > #se_main1_div1 > p {
  color: #919191;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  margin: 25px auto;
}

#se_main1 > #se_main1_div1 > p:last-child {
  font-size: 12px;
  color: #303030;
  margin-bottom: -10px;
}

#se_main1 > #se_main1_div1 > button {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  background-color: rgb(0, 51, 255);
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid rgb(0, 51, 255);
  margin: 40px auto;
  margin-bottom: 15px;
  cursor: pointer;
}

#se_main1 > #se_main1_div1 > button:hover {
  transition: 0.5s;
  background-color: #ffffff;
  color: rgb(0, 51, 255);
}

#se_main1 > #se_main1_div2 {
  width: 60%;
  height: 800px;
  border: 1px solid transparent;
}

#se_main1 > #se_main1_div2 > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/* ------------- se_main2 Part ------------- */
#se_main2 {
  width: 90%;
  margin: auto;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#se_main2 > img {
  width: 150px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

/* ------------- se_main3 Part ------------- */
#se_main3 {
  width: 90%;
  margin: auto;
  border: 1px solid transparent;
  margin: 60px;
}

#se_main3 > h1 {
  text-align: center;
  font-size: 72px;
  line-height: 82px;
  color: #303030;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

#se_main3 > h1 ~ p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #919191;
  font-weight: 300;
  font-style: normal;
  margin: 35px auto;
}

#se_main3 > #se_main3_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#se_main3 > #se_main3_div > div {
  border: 1px solid transparent;
  display: flex;
}

#se_main3 > #se_main3_div > div > span {
  width: 20px;
  background-color: #ffce00;
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
}

#se_main3 > #se_main3_div > div > .span1 {
  width: 30px;
  background-color: #ffa1a1;
}

#se_main3 > #se_main3_div > div > div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

#se_main3 > #se_main3_div > div > div > h2 {
  border: 1px solid transparent;
  box-sizing: border-box;
  padding-bottom: 10%;
  font-size: 30px;
  line-height: 46px;
  color: #797979;
  font-style: normal;
  font-weight: 400;
}

#se_main3 > #se_main3_div > div > div > h2 ~ p {
  font-size: 18px;
  line-height: 28px;
  color: #bbbbbb;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
}

#se_main3_hr {
  color: #d8d8d8;
  size: 1px;
  width: 100%;
}

/*------------se_main4 Part----------------*/
#se_main4 {
  width: 90%;
  margin: auto;
  text-align: center;
}

#se_main4 > h1 {
  font-size: 72px;
  line-height: 82px;
  font-style: normal;
  font-weight: 400;
  color: #303030;
  margin: 50px auto;
}

#se_main4 > p {
  margin: auto;
  width: 60%;
  font-size: 18px;
  line-height: 28px;
  color: #919191;
  font-weight: 300;
  font-style: normal;
}

/*------------se_main5 Part-----------------*/
#se_main5 {
  display: flex;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 0px;
  margin: 50px auto;
}

#se_main5 > #se_main5_div1 {
  border: 1px solid transparent;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 20px;
}

#se_main5 > #se_main5_div1 > div > h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #303030;
  font-style: normal;
  margin-top: 20px;
}

#se_main5 > #se_main5_div1 > div > p {
  box-sizing: border-box;
  padding-left: 65px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  font-style: normal;
  margin: 20px auto;
}

#se_main5 > #se_main5_div1 > div > button {
  margin: 10px auto auto 65px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  font-style: normal;
  border: none;
}

#se_main5_div2 {
  width: 60%;
  border: 1px solid transparent;
}

#se_main5_div2 > img {
  width: 100%;
  height: 100%;
}

/*-------------se_main6--------------*/
#se_main6 {
  display: flex;
  width: 90%;
  margin: auto;
}

#se_main6_div1 {
  width: 20%;
}

#se_main6_div1 > img {
  width: 200px;
  height: 200px;
}

#se_main6_div2 {
  width: 80%;
}

#se_main6_div2 > h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 51px;
  color: #303030;
  font-style: normal;
}

#se_main6_div2 > p {
  margin: 30px auto 0px auto;
}

/*------------se_main7-------------*/
.se_main7 {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.se_main7 > span {
  width: 80px;
  height: 5px;
  border: 1px solid #ffa1a1;
  color: #ffa1a1;
  background-color: #ffa1a1;
  align-self: center;
  margin-bottom: 50px;
}

.se_main7 > button {
  width: auto;
  margin: auto;
  align-self: center;
  box-sizing: border-box;
  padding: 20px 35px;
  background-color: #0033ff;
  color: white;
  border: 1px solid #0033ff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.se_main7 > button:hover {
  transition: 0.5s;
  background-color: #ffffff;
  color: rgb(0, 51, 255);
}

.se_main7 > h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: #303030;
  font-style: normal;
}

.se_main7 > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  font-style: normal;
  margin: 25px;
}

.se_main7_hr {
  color: #d8d8d8;
  size: 1px;
  width: auto;
  margin: 70px auto;
}

/*--------------se_main8--------------*/
.se_main8 {
  width: 90%;
  margin: auto;
  text-align: center;
}

.se_main8 > h1 {
  font-size: 72px;
  line-height: 82px;
  font-style: normal;
  font-weight: 400;
  color: #303030;
  margin: 30px auto;
}

.se_main8 > p {
  margin: auto;
  font-size: 18px;
  line-height: 28px;
  color: #919191;
  font-weight: 300;
  font-style: normal;
}

/*-----------se_main9---------------*/

#se_main9 {
  display: flex;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 0px;
  margin: 50px auto;
}

#se_main9 > #se_main9_div1 {
  border: 1px solid transparent;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 20px;
}

#se_main9 > #se_main9_div1 > div > h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #303030;
  font-style: normal;
  margin-top: 20px;
}

#se_main9 > #se_main9_div1 > div > p {
  box-sizing: border-box;
  padding-left: 65px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  font-style: normal;
  margin: 20px auto;
}

#se_main9 > #se_main9_div1 > div > button {
  margin: 10px auto auto 65px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  font-style: normal;
  border: none;
}

#se_main9_div2 {
  width: 60%;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 0px 30px;
}

#se_main9_div2 > img {
  width: 100%;
}

/*-----------se_main10---------------*/
#se_main10 {
  display: flex;
  width: 90%;
  margin: auto;
}

#se_main10_div1 {
  width: 20%;
}

#se_main10_div1 > img {
  width: 200px;
  height: 200px;
}

#se_main10_div2 {
  width: 80%;
}

#se_main10_div2 > h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 51px;
  color: #303030;
  font-style: normal;
}

#se_main10_div2 > p {
  margin: 30px auto 0px auto;
}

/*-----------se_main11---------------*/
#se_main11 {
  display: flex;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 60px 0px;
}

#se_main11 > #se_main11_div1 {
  border: 1px solid transparent;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 20px;
}

#se_main11 > #se_main11_div1 > div > h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #303030;
  font-style: normal;
  margin-top: 20px;
}

#se_main11 > #se_main11_div1 > div > p {
  box-sizing: border-box;
  padding-left: 65px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #919191;
  font-style: normal;
  margin: 20px auto;
}

#se_main11 > #se_main11_div1 > div > button {
  margin: 10px auto auto 65px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  font-style: normal;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#se_main11_div2 {
  width: 60%;
  border: 1px solid transparent;
}

#se_main11_div2 > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 30px;
}

/*----------------se_main12-----------------*/

#se_main12 {
  display: flex;
  border: 1px solid transparent;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 0px;
}

#se_main12 > #se_main12_div1 {
  border: 1px solid transparent;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
}

#se_main12 > #se_main12_div1 > h1 {
  line-height: 82px;
  font-size: 63px;
  font-weight: 400;
  color: #303030;
  font-style: normal;
}

#se_main12 > #se_main12_div1 > p {
  color: #919191;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  margin: 25px auto;
}

#se_main12 > #se_main12_div1 > button {
  font-size: 20px;
  color: rgb(0, 51, 255);
  font-weight: 600;
  box-sizing: border-box;
  padding: 30px;
  border: 2px solid rgb(0, 51, 255);
  margin: 20px auto;
  margin-bottom: 15px;
  cursor: pointer;
}

#se_main12 > #se_main12_div1 > button:hover {
  background-color: rgb(0, 51, 255);
  color: #ffffff;
  transition: 0.4s;
}

#se_main12 > #se_main12_div2 {
  width: 50%;
  height: auto;
  border: 1px solid transparent;
}

#se_main12 > #se_main12_div2 > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/*----------se_main13--------------*/
#se_main13 {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 0px 40px 0px;
  background-color: #0033ff;
}

#se_main13 > span {
  width: 50px;
  height: 5px;
  border: 1px solid #ffa1a1;
  color: #ffa1a1;
  background-color: #ffa1a1;
  align-self: center;
  margin-bottom: 0px;
}

#se_main13 > button {
  width: auto;
  align-self: center;
  box-sizing: border-box;
  padding: 20px 35px;
  background-color: white;
  color: #0033ff;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  margin: 40px auto;
}

#se_main13 > button:hover {
  background-color: #0033ff;
  color: white;
  transition: 0.3s;
}

#se_main13 > h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  color: #303030;
  font-style: normal;
  color: white;
  margin: 30px auto;
}

#se_main13 > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #303030;
  font-style: normal;
  margin: 25px;
  width: 80%;
  margin: auto;
  color: white;
}

/*-----------Media Queries Medium screens----------*/
@media all and (min-width: 580px) and (max-width: 992px) {
  /*-------------------- se_main1 Part ------------------ */

  #se_main1 {
    width: 90%;
    height: 100%;
    padding: 40px 10px;
  }

  #se_main1 > #se_main1_div1 {
    width: 40%;
    height: max-content;
  }

  #se_main1 > #se_main1_div1 > h1 {
    font-size: 50px;
  }

  #se_main1 > #se_main1_div1 > p {
    font-size: 16px;
  }

  #se_main1 > #se_main1_div1 > p:last-child {
    font-size: 8px;
    margin-bottom: 40px;
  }

  #se_main1 > #se_main1_div1 > button {
    font-size: 16px;
    padding: 25px 20px;
    margin: 10px auto 10px auto;
  }

  #se_main1 > #se_main1_div2 {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main1 > #se_main1_div2 > img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
  }

  /* ------------- se_main2 Part ------------- */
  #se_main2 {
    margin: -100px auto auto auto;
    display: flex;
    flex-wrap: wrap;
  }

  #se_main2 > img {
    width: 180px;
    padding: 0px;
    margin: -10px auto;
  }

  /* ------------- se_main3 Part ------------- */
  #se_main3 {
    width: 90%;
    margin: 60px;
  }

  #se_main3 > h1 {
    font-size: 72px;
    line-height: 90px;
  }

  #se_main3 > h1 ~ p {
    font-size: 20px;
    line-height: 32px;
    margin: 40px auto;
  }

  #se_main3 > #se_main3_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  #se_main3 > #se_main3_div > div {
    width: 45%;
    display: flex;
  }

  #se_main3_hr {
    margin-top: -50px;
  }

  /*------------se_main4 Part----------------*/

  #se_main4 > h1 {
    font-size: 82px;
    line-height: 90px;
  }

  #se_main4 > p {
    margin: auto;
    width: 85%;
    font-size: 20px;
  }

  /*------------se_main5 Part-----------------*/
  #se_main5 {
    width: 1200px;
    padding: 40px 0px;
    margin: 30px auto;
  }

  #se_main5 > #se_main5_div1 {
    width: 30%;
  }

  #se_main5 > #se_main5_div1 > div > h2 {
    font-size: 30px;
    line-height: 40px;
  }

  #se_main5 > #se_main5_div1 > div > p {
    font-size: 18px;
  }

  #se_main5_div2 {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main5_div2 > img {
    width: 100%;
    height: auto;
  }

  /*-------------se_main6--------------*/
  #se_main6 {
    justify-content: space-evenly;
    gap: 10%;
  }

  #se_main6_div1 {
    width: 20%;
  }

  #se_main6_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main6_div2 {
    width: 80%;
  }

  #se_main6_div2 > h2 {
    font-size: 30px;
  }

  /*------------se_main7-------------*/
  .se_main7 {
    width: 60%;
    margin-top: 60px;
  }

  .se_main7 > span {
    width: 60px;
  }

  /*--------------se_main8--------------*/
  .se_main8 {
    width: 70%;
  }

  /*-----------se_main9---------------*/

  #se_main9_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*-----------se_main10---------------*/

  #se_main10 {
    gap: 10%;
  }

  #se_main10_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main10_div2 > h2 {
    font-size: 30px;
    line-height: 45px;
  }

  /*-----------se_main11---------------*/

  #se_main11_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main11_div2 > img {
    height: auto;
  }

  /*----------------se_main12-----------------*/

  #se_main12 > #se_main12_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main12 > #se_main12_div2 > img {
    height: auto;
  }

  /*-----------se_main13---------------*/

  #se_main13 {
    gap: 10%;
  }

  #se_main13_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main13_div2 > h2 {
    font-size: 30px;
    line-height: 45px;
  }
}

/*-----------Media Queries small screens----------*/
@media all and (min-width: 320px) and (max-width: 579px) {
  /*-------------------- se_main1 Part ------------------ */

  #se_main1 {
    flex-direction: column-reverse;
    width: 95%;
    height: 100%;
    padding: 40px 10px;
  }

  #se_main1 > #se_main1_div1 {
    width: 100%;
    height: max-content;
  }

  #se_main1 > #se_main1_div1 > h1 {
    width: 100%;
  }

  #se_main1 > #se_main1_div1 > p {
    font-size: 16px;
  }

  #se_main1 > #se_main1_div1 > p:last-child {
    font-size: 8px;
    margin-bottom: 40px;
  }

  #se_main1 > #se_main1_div1 > button {
    font-size: 16px;
    padding: 25px 20px;
    margin: 10px auto 10px auto;
  }

  #se_main1 > #se_main1_div2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main1 > #se_main1_div2 > img {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
  }

  /* ------------- se_main2 Part ------------- */
  #se_main2 {
    margin: -100px auto auto auto;
    display: flex;
    flex-wrap: wrap;
  }

  #se_main2 > img {
    width: 180px;
    padding: 0px;
    margin: -10px auto;
  }

  /* ------------- se_main3 Part ------------- */
  #se_main3 {
    width: 96%;
    margin: 60px auto;
  }

  #se_main3 > h1 {
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 52px;
    line-height: 60px;
  }

  #se_main3 > h1 ~ p {
    font-size: 20px;
    line-height: 32px;
    margin: 40px auto;
  }

  #se_main3 > #se_main3_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  #se_main3 > #se_main3_div > div {
    width: 100%;
    display: flex;
  }

  #se_main3_hr {
    margin-top: -50px;
  }

  /*------------se_main4 Part----------------*/

  #se_main4 > h1 {
    font-size: 62px;
    line-height: 60px;
  }

  #se_main4 > p {
    margin: auto;
    width: 85%;
    font-size: 18px;
  }

  /*------------se_main5 Part-----------------*/
  #se_main5 {
    width: 95%;
    flex-direction: column;
    width: 1200px;
    padding: 40px 0px;
    margin: 30px auto;
  }

  #se_main5 > #se_main5_div1 {
    width: 35%;
    margin: 0px;
  }

  #se_main5 > #se_main5_div1 > div > h2 {
    font-size: 30px;
    line-height: 40px;
  }

  #se_main5 > #se_main5_div1 > div > p {
    font-size: 18px;
  }

  #se_main5_div2 {
    width: 30%;
    margin: auto;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main5_div2 > img {
    width: 100%;
    height: auto;
  }

  /*-------------se_main6--------------*/
  #se_main6 {
    justify-content: space-evenly;
    gap: 10%;
    flex-direction: column-reverse;
  }

  #se_main6_div1 {
    width: 20%;
  }

  #se_main6_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main6_div2 {
    width: 100%;
  }

  #se_main6_div2 > h2 {
    font-size: 30px;
  }

  /*------------se_main7-------------*/
  .se_main7 {
    width: 90%;
    margin-top: 60px;
  }

  .se_main7 > span {
    width: 60px;
  }

  /*--------------se_main8--------------*/
  .se_main8 {
    width: 90%;
  }

  .se_main8 > h1 {
    font-size: 52px;
    line-height: 62px;
  }

  /*-----------se_main9---------------*/

  #se_main9 {
    flex-direction: column-reverse;
  }

  #se_main9 > #se_main9_div1 {
    width: 100%;
  }

  #se_main9_div2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*-----------se_main10---------------*/

  #se_main10 {
    gap: 10%;
    flex-direction: column-reverse;
  }

  #se_main10_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main10_div2 > h2 {
    font-size: 25px;
    line-height: 35px;
  }

  /*-----------se_main11---------------*/

  #se_main11 {
    flex-direction: column;
    width: 100%;
  }

  #se_main11 > #se_main11_div1 {
    width: 100%;
  }

  #se_main11_div2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #se_main11_div2 > img {
    height: auto;
  }

  /*----------------se_main12-----------------*/

  #se_main12 {
    flex-direction: column-reverse;
  }

  #se_main12 > #se_main12_div1 {
    width: 100%;
  }

  #se_main12 > #se_main12_div2 {
    display: flex;
    margin: auto;
  }

  #se_main12 > #se_main12_div1 > h1 {
    font-size: 35px;
    line-height: 45px;
    margin-top: -300px;
  }

  #se_main12 > #se_main12_div1 > p {
    font-size: 14px;
  }

  #se_main12 > #se_main12_div2 > img {
    width: 100%;
    height: 500px;
    margin: 0px auto;
  }

  /*-----------se_main13---------------*/

  #se_main13_div1 > img {
    width: 150px;
    height: 150px;
  }

  #se_main13_div2 > h2 {
    font-size: 25px;
    line-height: 35px;
  }
}
