
@media only screen and (min-width: 200px) and (max-width: 800px){
    .p_container{
        display: block;
    }

    #p_connectTools{
        width: 100%;
        
        display: none;
    

    }

    .p_discover{
        margin: auto;
    }
    #p_peter{
        display: none;
    }
    #p_peter_mid_screen{
        width: 100%;
    }
    #p_peter_mid_screen>img{
        width: 100%;

        display: inline;
    }
    #p_heading11{
        font-size: 3em;
    }

    #p_para111{
        font-size: 20px;
    }


    .p_container1{
        display: block;
    }

    #p_last_para{
        display: block;
        width: 100%;
    }

    #p_last_paraimage{
        width: 70%;
    }
    #p_last_content{
        width: 70%;
        margin: auto;
    }


    .p_container3{
        display: flex;
        flex-direction: column;
        gap: 0%;
       
    }

    .p_box1>img{
        width: 10%;
        margin-bottom: -30px;

    }

    #p_last_para>a{
            margin-left: 0%;
            border: 1px solid red;

    }


}