* {
  margin: 0;
  padding: 0;
  font-family: "barlow semi condensed", sans-serif;
}

#p_main1 {
  width: 60%;
  margin: auto;
  text-align: center;
}

#p_main1 > h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  line-height: 82px;
  color: #303030;
  margin-bottom: 20px;
}

#p_main1 > p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #303030;
  margin: 60px auto;
}

#p_main1 > p > a {
  color: #303030;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 0 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transform: 0.4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: gray;
}

input:checked + .slider::before {
  transform: translateX(40px);
}

#p_checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 30px auto;
  font-weight: 600;
  line-height: 28px;
  color: #303030;
}

#p_main2 {
  width: 65%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0px;
}

#p_main2 > div > div > .p_main2_h2 {
  margin-top: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  color: #303030;
}

#p_main2 > div > div > * {
  margin: 10px auto;
}

#p_main2 > div {
  position: relative;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#p_main2 > div:nth-child(2) {
  border: 3px solid gray;
}

.p_main2_img {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 130px;
  height: 150px;
}

#p_main2 > div:nth-child(2) > .p_main2_img {
  top: -45px;
}

.button {
  background-color: #0033ff;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  border: 1px solid #0033ff;
  margin-top: 40px;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: blue;
  background-color: white;
  transition: 0.4s;
}

.button ~ p {
  margin: auto auto -40px auto;
}

#p_main2 > div > div > .p_main2_h2 {
  margin-bottom: 40px;
}

.p_main2_h2p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  color: #303030;
}

.whatsinclude {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  padding-bottom: 25px;
  color: #303030;
}

#p_main2 > div > div > .p_main2_h2 ~ p ~ h1 {
  margin: 30px auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 82px;
  color: #303030;
}

.p_main2_p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #303030;
}

.p_main2_p::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "?";
  background-color: rgb(203, 194, 194);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

#highlimit {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  color: #0027cc;
}

#recommended {
  position: absolute;
  top: 60px;
  right: -44px;
  transform: rotate(270deg);
  letter-spacing: 2px;
  font-weight: bold;
  color: #303030;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
}

#p_main3 > div {
  width: 85%;
  margin: auto;
  display: flex;
  gap: 50px 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

#p_main3 > div > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p_main3 {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  color: #303030;
}

#p_main3 > h2 {
  margin: 50px auto 50px auto;
}

.p_main3_p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #303030;
}

.p_main3_p::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: " ?";
  background-color: rgb(203, 194, 194);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

#p_main3_butt {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
}

#p_main3_butt:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
}

#p_main4 {
  text-align: center;
}

#p_main4 > h2 {
  margin: 40px auto 40px auto;
}

#p_main4 > div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  gap: 20px;
}
