#logo{
    width:35% ;
    height: 60px;
    margin: auto;
    
    display: flex;
    margin-top: 20px;
}
#logo>img{
    width: 35%;
  
}
#logo>h2{
    margin-left: 10px;
    margin-top: 6px;
}
#track{
    width:55% ;
    height: 60px;
    margin: auto;
    
    display: flex;
    margin-top: 20px;
}
#fl1{
    width:55% ;
    height: 300px;
    margin: auto;
 
    display: flex;
    margin-top: 20px;
}
#one{
    width:55% ;
    height: 200px;
    margin: auto;
    
    display: flex;
    margin-top: 20px;
}
label{
    font-style: bold;
    font-size: 19px;
}
[type="text"]{
font-size: 20px;
margin-top: 20px;
outline: 0;
border-width: 0 0 2px;
border-color: black;
margin-bottom: 20px;
}
[type="password"]{
    font-size: 20px;
    margin-top: 20px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
    margin-bottom: 20px;
}

  input:focus {
    border-color: green
  }
  ::placeholder{
    font-size: 16px;
  }
  #btn{
    height: 100px;
    width: 23%;
    margin: auto;
   
  }
  #sun{
    background-color:
    #0033ff;
    color: white;
    padding: 20px 100px ;
    border-radius: 4px;
    border: none;
    margin-top: 50px;
    margin-left: 80%;
  }
  h5{
    margin-left: 500px;
    font-size: 17px;
    margin-top: -10px;

  }
 




